/* 全域設定 */

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.4;
  color: var(--black);
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body,
h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 變數 */
:root {
  --black: #000000;
  --primary-green: #3f5d45;
  --secondary-yellow: #eaf0ed;
}

/* color */
.primary-green {
  color: var(--primary-green);
}

/* background */
.primary-green-bg {
  background: var(--primary-green);
}

.secondary-yellow-bg {
  background: var(--secondary-yellow);
}

/* spacing */
/* padding */

.pt-6 {
  padding-top: 2rem;
}

.pt-7 {
  padding-top: 4rem;
}

.pb-p75 {
  padding-bottom: 0.75rem;
}

.pb-7 {
  padding-bottom: 5rem;
}

.px-0p75 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-1p625 {
  padding-left: 1.625rem;
  padding-right: 1.625rem;
}

.px-4p5 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.px-5p25 {
  padding-left: 5.25rem;
  padding-right: 5.25rem;
}

.px-9p125 {
  padding-left: 9.125rem;
  padding-right: 9.125rem;
}

.py-p375 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-5p25 {
  padding-top: 5.25rem;
  padding-bottom: 5.25rem;
}

.py-16p75 {
  padding-top: 16.75rem;
  padding-bottom: 16.75rem;
}

/* margin */
.mb-6 {
  margin-bottom: 32px;
}

/* line-height */
.lh-1p2 {
  line-height: 1.2;
}

.lh-1p6 {
  line-height: 1.6;
}

/* max-width */
.max-w-23p25 {
  max-width: 372px;
}

.max-w-34p6875 {
  max-width: 555px;
}

/* max-width */
.max-width-48p5 {
  max-width: 48.5rem;
}

.max-width-48p5 {
  max-width: 48.5rem;
}
