/* 全域設定 */

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.4;
  color: var(--black);
}

a {
  text-decoration: none;
  display: block;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body,
h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 變數 */
:root {
  --black: #000000;
  --white: #ffffff;
  --primary-green: #3f5d45;
  --secondary-green: #829886;
  --secondary-yellow: #eaf0ed;
  --secondary-yellow-10a: rgba(255, 255, 0, 0.1);
}

/* color */
.primary-green {
  color: var(--primary-green);
}

.secondary-green {
  color: var(--secondary-green);
}

.white {
  color: var(--white);
}

/* background */
.primary-green-bg {
  background: var(--primary-green);
}

.secondary-yellow-bg {
  background: var(--secondary-yellow);
}

.bg-light-green {
  background: #b3d4d1;
}

.bg-white {
  background: #ffffff;
}

.bg-light-gray {
  background: #f5f5f5;
}

.bg-primary-green {
  background: #eaf0ed;
}

.border-secondary-yellow {
  border: var(--secondary-yellow-10a);
}

/* spacing */
/* padding */

.p-0p375 {
  padding: 0.375rem;
}

.pt-6 {
  padding-top: 2rem;
}

.pt-7 {
  padding-top: 4rem;
}

.pt-8 {
  padding-top: 1.25rem;
}

/* 12px */
.pb-p75 {
  padding-bottom: 0.75rem;
}

.pb-7 {
  padding-bottom: 5rem;
}

/* 12px */
.px-0p75 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-1p625 {
  padding-left: 1.625rem;
  padding-right: 1.625rem;
}

.px-32 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* 28px */
.px-1p75 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

/* 40px */
.px-2p5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-3p5 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.px-4p5 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.px-5p25 {
  padding-left: 5.25rem;
  padding-right: 5.25rem;
}

.px-9p125 {
  padding-left: 9.125rem;
  padding-right: 9.125rem;
}

/* 12px */
.py-0p75 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* 28px */
.py-1p75 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

/* 40px */
.py-2p5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-p375 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-5p25 {
  padding-top: 5.25rem;
  padding-bottom: 5.25rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-10p5 {
  padding-top: 10.5rem;
  padding-bottom: 10.5rem;
}

.py-12p5 {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
}

.py-16p75 {
  padding-top: 16.75rem;
  padding-bottom: 16.75rem;
}

/* margin */

/* 12px */
.mb-0p75 {
  margin-bottom: 0.75rem;
}

/* 20px */
.mb-1p25 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 32px;
}

/* 12px */
.me-p75 {
  margin-right: 0.75rem;
}

/* 20px */
.me-1p25 {
  margin-right: 1.25rem;
}

/* 12px */
.me-4p5 {
  margin-right: 4.5rem;
}

/* 48px */
.me-48 {
  margin-right: 3rem;
}

/* line-height */
.lh-1p2 {
  line-height: 1.2;
}

.lh-1p5 {
  line-height: 1.5;
}
.lh-1p6 {
  line-height: 1.6;
}

.letter-spacing-1 {
  letter-spacing: 3%;
}

/* max-width */
.max-w-23p25 {
  max-width: 372px;
}

/* max-width */
.max-w-5p75 {
  max-width: 5.75rem;
}

.max-w-34p6875 {
  max-width: 555px;
}

.max-width-48p375 {
  max-width: 48.375rem;
}

.max-width-48p5 {
  max-width: 48.5rem;
}

/* 320px */
.max-w-20 {
  max-width: 320px;
}

/* 354px */
.max-w-22p125 {
  max-width: 22.125rem;
}

.max-width-48p5 {
  max-width: 48.5rem;
}

/* 608px */
.max-width-38 {
  max-width: 38rem;
}

/* 856px */
.max-width-53p5 {
  max-width: 53.5rem;
}

.max-width-56p975 {
  max-width: 56.875rem;
}

/* 1286px */
.max-w-80p275 {
  max-width: 80.375rem;
}

/* min-width */
.min-w-3p375 {
  min-width: 54px;
}

/* 176px */
.min-w-11 {
  min-width: 11rem;
}

/* 500px  */
.min-w-31p25 {
  min-width: 31.25px;
}

/* 字級 */

/* 20px */
.fs-7 {
  font-size: 1.25rem;
}

/* 14px */
.fs-8 {
  font-size: 0.875rem;
}

.product-list > li:last-child {
  margin-bottom: 0;
}
